#info-panel {
  flex: 0 0 198px;
  padding: 14px;
  color: white;
  min-height: calc(100vh - 145px);
}

#sticky-div {
  position: fixed;
  top: 83px;
  width: 200px;
}

#info-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#info-list li {
  align-items: center;
  margin: 10px 0;
}

#info-list i {
  margin-right: 10px;
  font-size: 18px;
}

#info-list span:first-child {
  font-weight: bold;
}

#info-list a {
  text-decoration: none;
  color: var(--background-color);
}

#info-list a:hover {
  font-weight: bold;
}

.element-title{
  font-weight: bold;
}

h2 > i{
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 9px;
  margin-left: 7px;
}