:root {
  --background-color: #FFFFFF;
  --primary-color: #333333;
  --secondary-color: #c9c9c9;
  --tertiary-color: #fcfcfc;
  --quaternary-color: #555;
  --quinary-color: #666;
  --senary-color: #555;
  --contrast-color: #333333;
}

section {
  height: fit-content;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
}

header h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5em;
  text-transform: uppercase;
}

main h2{
  width: 226px;
  height: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin-left: -20px;
  padding-left: 20px;
  break-inside: avoid;
}

.background {
  background-color: var(--background-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.tertiary {
  color: var(--tertiary-color);
}

.quaternary {
  color: var(--quaternary-color);
}

.quinary {
  color: var(--quinary-color);
}

.senary {
  color: var(--senary-color);
}

.contrast {
  color: var(--contrast-color);
}

.background-primary {
  background-color: var(--primary-color);
}

.background-secondary {
  background-color: var(--secondary-color);
}

.background-tertiary {
  background-color: var(--tertiary-color);
}

.background-quaternary {
  background-color: var(--quaternary-color);
}

.background-quinary {
  background-color: var(--quinary-color);
}

.background-senary {
  background-color: var(--senary-color);
}

.background-contrast {
  background-color: var(--contrast-color);
}