.timeline {
  list-style: none;
  border-left: 3px solid #333;
  padding-left: 12px;
  margin: 0 0 0 6px;
  overflow-wrap: break-word;
}

.timeline li {
  position: relative;
  margin-bottom: 7px;
  border-radius: 4px;
  break-inside: avoid;
  padding-bottom: 4px;
  padding-left: 2px;
}

.timeline li div {
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.timeline li p a{
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

.timeline li p a:hover{
  font-weight: bold;
}

ul.timeline > li::after {
  content: "";
  position: absolute;
  left: -24px;
  top: 25px;
  width: 14px;
  height: 14px;
  background-color: #333;
  border-radius: 50%;
  border: 3px solid var(--background-color);
}

#education ul.timeline > li::after {
  top: 38px;
}

.timeline li h4 {
  margin: 0;
  font-size: 1.5em;
}

.timeline li p {
  margin: 0;
  font-size: 1em;
}

.timeline li p.quaternary {
  font-weight: bold;
}

.timeline li p:nth-of-type(2) {
  font-style: italic;
}

.timeline li ul.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1100px) {
    .timeline li ul.technologies {
        grid-template-columns: repeat(3, 1fr);
    }
}

.timeline li ul.technologies li {
  margin: 5px;
  border-radius: 10px;

}

.timeline li ul.technologies li div{
  display: block;
  padding: 5px 10px;
  cursor: pointer;
  color: #333;
  font-size: 0.8em;
  border-radius: 10px;
}