{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='timeline.css') }}" />
  <script src="{{ url_for('static', filename='toggle-menu.js') }}"></script>
{% endblock %}

{% block content %}
  <header class="background primary">
    <h1>{{ name }}</h1>
    <h2>{{ job_title }}</h2>
  </header>
  <nav id="menu" class="background primary">
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#skills">Skills</a></li>
    </ul>
    <h3 id="color-title">Change colors:</h3>
    <form id="color-form" class="color-form">
      <button type="button" class="color-button" data-color="default"></button>
      <button type="button" class="color-button" data-color="red"></button>
      <button type="button" class="color-button" data-color="green"></button>
      <button type="button" class="color-button" data-color="blue"></button>
    </form>
    <script src="{{ url_for('static', filename='palette.js') }}"></script>
  </nav>
  <button id="menu-toggle">Toggle Menu</button>
  <main>
    <section id="about">
      <h2 class="primary">About Me</h2>
      <p>{{ about }}</p>
    </section>
    <section id="experience">
      <h2 class="primary">Experience</h2>
      <ul class="timeline">
        {% for job in jobs %}
          {% if loop.index % 2 == 1%}
            <li class="background secondary">
          {% else %}
            <li class="background tertiary">
          {% endif %}
            <h4 class="primary">{{ job.title }}</h4>
            <p class="quaternary">{{ job.company }}</p>
            <p class="quinary">{{ job.dates }}</p>
            <p class="senary">{{ job.description }}</p>
          </li>
        {% endfor %}
      </ul>
    </section>
    <section id="education">
      <h2 class="primary">Education</h2>
      {% for degree in education %}
        <h3>{{ degree.name }}</h3>
        <p>{{ degree.institution }}</p>
      {% endfor %}
    </section>
    <section id="skills">
      <h2 class="primary">Skills</h2>
      <ul>
        {% for skill in skills %}
          <li>{{ skill }}</li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}
