{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/menu.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/timeline.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/display-options.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/side-panel.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/skills.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/easter.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/language-plot.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/design-button.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}" />
  <script src="{{ url_for('static', filename='javascript/libs/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/libs/purify.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/libs/jspdf.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/libs/html2canvas.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/libs/html2pdf.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/libs/canvas-confetti.min.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/toggle-menu.js') }}"></script>
  <script src="{{ url_for('static', filename='javascript/save-pdf.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='javascript/easter.js') }}" type="module"></script>
  <script src="{{ url_for('static', filename='javascript/toggle-design.js') }}" type="module"></script>
{% endblock %}

{% block content %}
  <header class="background-primary">
    <h1>{{ name }}</h1>
    <h2>{{ job_title }}</h2>
  </header>
  {% include "nav_menu.html" %}
  <button id="menu-toggle">Toggle Menu</button>
  <div id="shift_div">
    {% include "side_panel.html" %}
    <main>
      <section id="about">
        <h2 class="primary background-secondary"><i class="fa-solid fa-user background"></i>About Me</h2>
        <p>{{ about }}</p>
      </section>
      <section id="experience">
        <h2 class="primary background-secondary"><i class="fa-solid fa-briefcase background"></i>Experience</h2>
        <ul id="experience-list" class="timeline secondary">
          {% for job in experiences %}
            {% set current_index = loop.index %}
            {% if current_index % 2 == 1%}
              <li class="background-secondary">
            {% else %}
              <li class="background-tertiary">
            {% endif %}
              <h4 class="primary">{{ job.title }}</h4>
              <p class="quaternary">{{ job.company|safe }}</p>
              <p class="quinary">{{ job.dates }}</p>
              <p class="senary">{{ job.description|safe }}</p>
              <p class="quaternary">Tech stack:</p>
              <ul class="technologies">
                {% for tech in job.technologies %}
                  {% if (current_index + loop.index) % 2 == 1%}
                    <li class="background-secondary" title="Click to add to filter" onclick="addToFilter('{{ tech }}')">{{ tech }}</li>
                  {% else %}
                    <li class="background-tertiary" title="Click to add to filter" onclick="addToFilter('{{ tech }}')">{{ tech }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
        <script type="module" src="{{ url_for('static', filename='javascript/filter.js') }}"></script>
      </section>
      <section id="education">
        <h2 class="primary background-secondary"><i class="fa-solid fa-school background"></i>Education</h2>
        <ul class="timeline">
          {% for degree in education %}
            {% if loop.index % 2 == 1 %}
              <li class="background-secondary">
            {% else %}
              <li class="background-tertiary">
            {% endif %}
              <h3>{{ degree.title }}</h3>
              <p class="quaternary">{{ degree.institution }}</p>
              <p class="quinary">{{ degree.beg_year }} - {{ degree.end_year }}</p>
              <p class="quaternary">{{ degree.description|safe }}</p>
            </li>
          {% endfor %}
        </ul>
      </section>
      <section id="skills">
        <h2 class="primary background-secondary"><i class="fa-solid fa-chart-pie background"></i>Skills</h2>
        <ul id="skills-list">
          {% for category, skills in skills.items() %}
            <li>
              <span class="skills-category">{{ category }}:</span>
              <ul class="skills">
                {% for skill in skills %}
                  <div class="skill">
                    <span class="skill-name">{{ skill.name }}</span>
                    {% if 'level' in skill %}
                      <ul class="skill-level">
                        {% for i in range(5) %}
                          <li class="{{ 'filled background-contrast' if i < skill.level else 'empty' }}"></li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </div>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </section>
    <div id="easter-egg"></div>
    <div id="custom-alert" class="custom-alert hidden">
      <p id="custom-alert-message"></p>
      <button id="custom-alert-close">Close</button>
    </div>
    </main>
  </div>
{% endblock %}
