{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/menu.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/timeline.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/display-options.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/side-panel.css') }}" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script src="{{ url_for('static', filename='toggle-menu.js') }}"></script>
{% endblock %}

{% block content %}
  <header class="background primary">
    <h1>{{ name }}</h1>
    <h2>{{ job_title }}</h2>
  </header>
  <nav id="menu">
    <ul>
      <li><a href="#about">About Me</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#skills">Skills</a></li>
    </ul>
    <h3 id="color-title">Change colors:</h3>
    <form id="color-form" class="color-form">
      <button type="button" class="color-button" data-color="default"></button>
      <button type="button" class="color-button" data-color="red"></button>
      <button type="button" class="color-button" data-color="green"></button>
      <button type="button" class="color-button" data-color="blue"></button>
      <button type="button" class="color-button" data-color="random"></button>
    </form>
    <script src="{{ url_for('static', filename='palette.js') }}"></script>
    <h3 id="display-header">Display Options:</h3>
    <form id="display-options">
      <label>
        <input type="checkbox" name="display-info-panel" checked> Info
      </label>
      <label>
        <input type="checkbox" name="display-about" checked> About Me
      </label>
      <label>
        <input type="checkbox" name="display-experience" checked> Experience
      </label>
      <label>
        <input type="checkbox" name="display-education" checked> Education
      </label>
      <label>
        <input type="checkbox" name="display-skills" checked> Skills
      </label>
    </form>
    <script src="{{ url_for('static', filename='display-options.js') }}"></script>
    <h3>Experience's filter:</h3>
    <input type="text" id="experience-filter" placeholder="Use coma ',' for multiple filters">
  </nav>
  <button id="menu-toggle">Toggle Menu</button>
  <div id="shift_div">
    {% include "side_panel.html" %}
    <main>
      <section id="about">
        <h2 class="primary">About Me</h2>
        <p>{{ about }}</p>
      </section>
      <section id="experience">
        <h2 class="primary">Experience</h2>
        <ul id="experience-list" class="timeline">
          {% for job in experiences %}
            {% if loop.index % 2 == 1%}
              <li class="background secondary">
            {% else %}
              <li class="background tertiary">
            {% endif %}
              <h4 class="primary">{{ job.title }}</h4>
              <p class="quaternary">{{ job.company }}</p>
              <p class="quinary">{{ job.dates }}</p>
              <p class="senary">{{ job.description }}</p>
            </li>
          {% endfor %}
        </ul>
        <script src="{{ url_for('static', filename='filter.js') }}"></script>
      </section>
      <section id="education">
        <h2 class="primary">Education</h2>
        <ul class="timeline">
          {% for degree in education %}
            {% if loop.index % 2 == 1%}
              <li class="background secondary">
            {% else %}
              <li class="background tertiary">
            {% endif %}
              <h3>{{ degree.title }}</h3>
              <p>{{ degree.institution }}</p>
            </li>
          {% endfor %}
        </ul>
      </section>
      <section id="skills">
        <h2 class="primary">Skills</h2>
        <ul>
          {% for skill in skills %}
            <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      </section>
    </main>
  </div>
{% endblock %}
