<nav id="menu">
  <ul>
    <li><a href="#about">About Me</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#skills">Skills</a></li>
  </ul>
  <h3 id="display-header">Toggle Design:</h3>
  <div id="design-toggle">
    <i class="fa fa-file-text fa-2xl" aria-hidden="true"></i>
    <button id="toggle-design" class="toggle-button"></button>
    <i class="fa fa-columns fa-2xl" aria-hidden="true"></i>
  </div>
  <h3 id="color-title">Change colors:</h3>
  <form id="color-form" class="color-form">
    <button type="button" class="color-button" data-color="default"></button>
    <button type="button" class="color-button" data-color="white"></button>
    <button type="button" class="color-button" data-color="orange"></button>
    <button type="button" class="color-button" data-color="green"></button>
    <button type="button" class="color-button" data-color="blue"></button>
    <button type="button" class="color-button" data-color="random"></button>
  </form>
  <div class="hide">
      <h3 id="display-header">Display Options:</h3>
      <form id="display-options">
        <label>
          <input type="checkbox" name="display-info-panel" checked> Info
        </label>
        <label>
          <input type="checkbox" name="display-about" checked> About Me
        </label>
        <label>
          <input type="checkbox" name="display-experience" checked> Experience
        </label>
        <label>
          <input type="checkbox" name="display-education" checked> Education
        </label>
        <label>
          <input type="checkbox" name="display-skills" checked> Skills
        </label>
      </form>
  </div>
  <script src="{{ url_for('static', filename='javascript/display-options.js') }}"></script>
  <h3>Experience's filter:</h3>
  <input type="text" id="experience-filter" class="experience-filter" placeholder="Click enter to add a filter">
  <div id="selected-experiences"></div>
  <div class="horizontal-center">
      <button id="downloadButton">Download PDF</button>
  </div>
  <div class="nav-footer">
    Do you like this CV? You can check the code by <a href="https://github.com/jaumes5/CVbuilder" target="_blank">CLICKING HERE</a>
  </div>
  <script type="module" src="{{ url_for('static', filename='javascript/palette.js') }}"></script>
</nav>